* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

/* header style starts here */
header {
  margin: 5px 10px;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .right-part a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
header .top-header .right-part a:hover {
  background-color: gray;
  color: white;
}
header .bottom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 45px;
  border-top: 2px solid rgb(156, 153, 153);
  border-bottom: 3px solid rgb(0, 0, 0);
}
header .bottom-header a {
  text-decoration: none;
  color: black;
}

/*  header style ends here */
/* main section style starts here */
main {
  margin: 40px 0px;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.container .photos-div {
  position: relative;
  width: 400px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.container .photos-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .photos-div p {
  place-items: bottom;
  position: absolute;
  width: 100%;
  padding: 20px;
  top: 77%;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 1, 0.6);
}

/* main section style ends here */
/* here starts the styling of footer */
footer {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
footer .navbar a {
  padding-right: 60px;
  color: white;
  text-decoration: none;
  margin-right: 80px;
  border-right: 2px solid white;
}
footer #social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
footer #social-media img {
  width: 50px;
  margin-right: 10px;
}
footer p {
  text-align: center;
  margin-top: 10px;
}

/* CSS code for responsive design */
/* Styles for tablets and larger screens */
@media screen and (max-width: 768px) {
  /* Adjust the styles for header and main section */
  header {
    margin: 10px;
  }
  main {
    margin: 0px;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .photos-div p {
    top: 77%;
    padding: 20px;
    font-size: 18px;
  }
}
/* Styles for mobile devices */
@media screen and (max-width: 480px) {
  /* Adjust the styles for header and main section */
  header {
    margin: 5px;
  }
  main {
    margin: 20px auto;
  }
  .container {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .photos-div {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
  .photos-div p {
    top: unset;
    padding: 10px;
    font-size: 16px;
  }
  footer {
    padding: 10px;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .navbar a {
    padding: 10px;
    margin-right: 10px;
    border-right: none;
  }
  #social-media {
    margin-bottom: 10px;
  }
  #social-media img {
    width: 30px;
    margin: 5px;
  }
}/*# sourceMappingURL=style.css.map */